.clock-face {
  position: relative;
  width: 200px;
  height: 200px;
  border: 2px solid #000;
  border-radius: 50%;
}

.clock-hand {
  position: absolute;
  background-color: #000;
  transform-origin: bottom center;
}

.hand hour-hand {
  width: 8px;
  height: 70px;
}

.hand min-hand {
  width: 4px;
  height: 100px;
}

.hand second-hand {
  width: 2px;
  height: 120px;
}